<div class="container-fluid" id="homemain">
  <center><div class="alert alert-danger" ng-show="errorMsg">
            <center>{{errorMsg}}</center>
      </div>
 </center>
  <center><div class="alert alert-success" ng-show="successMsg">
          <center>{{successMsg}}</center>
      </div>
 </center>
 <br/>
   <div class="row" ng-repeat="post in searchedBlogs|orderBy:'-post.date'">
     <div class="well col-sm-8 col-sm-offset-2" id="blog" >
         <!--<div style="float:right;"><h4>Edit <span class="glyphicon glyphicon-edit"></span></h4></div>
 -->
      <div class="row well" id="blog">
       <div class="col-sm-2"><h4>Blog By:</h4></div>
       <div class="col-sm-6"><h4>{{firstname}} {{lastname}}</h4><h4>({{searchedEmail}})</h4></div>
       <div class="col-sm-3 col-sm-offset-1">{{post.date|date:"dd-MM-yyyy HH:mm:ss"}}</div> 
     </div>
     <div class="row" id="blgtitle">
         <div class="col-sm-2"><h3>Title:</h3></div>
       <div class="col-sm-10"><h3>{{post.title}}</h3></div>
      </div>
     <div class="row" >
      <div class="col-sm-10 col-sm-offset-1" id="blgcontent"><p>{{post.uploadPostContent}}</p></div>
     </div>
     <div class="row " id="blgbtn">
      <div class="col-sm-3 col-xs-4" >
             <button  ng-click="incLike(post._id,searchedEmail,post.likes)" ng-init="setLikeBtnText(post)">{{post.likeBtnText}}</button>
       </div>
      <div class="col-sm-4 col-xs-4">
             <button ng-click="sendCommentToModal(post._id,searchedEmail)" data-toggle="modal" data-target="#myModal">Comment <span class="glyphicon glyphicon-comment"></span></button>
      </div>
      </div>
     <div class="row" id="count">
        <a data-toggle="modal" data-target="#myModal2" ng-click="sendLikesInfoToModal(post._id,post.likeCount)"><div class="col-sm-2"><h4>{{post.likeCount}} likes</h4></div></a>
         <a><div class="col-sm-3" data-toggle="modal" data-target="#myModal3" ng-click="sendCommentsInfoToModal(post._id,post.countComment)"><h4>{{post.countComment}} comments</h4></div></a>
        <!-- <div ng-click="deletePost(post._id,user.email)" style="float:right;"><h4>Delete <span class="glyphicon glyphicon-trash"></span></h4></div>-->
         </div>
        
      
     </div>
     
   </div>
  
   <div class="modal fade" id="myModal" role="dialog">
     <div class="modal-dialog">
      
       <div class="modal-content">
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body row" id="comment">
         <p class="col-sm-3">{{email}}</p>
        <input id="textbox" class="col-sm-6 col-sm-offset-1" ng-model="cmt"/>
       <button class="col-sm-1" ng-click="saveAndIncComment()">Send</button>
       </div>
 </div>
 </div>
 </div>
 
 <div class="modal fade" id="myModal2" role="dialog">
   <div class="modal-dialog">
    
     <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4>{{lcount}} people liked your post</h4></center>
       </div>
       <div class="modal-body" ng-repeat="likeEmail in likes">
        <center><p>{{likeEmail.email}}</p ></center>
       
     </div>
 </div>
 </div>
 </div>
 <div class="modal fade" id="myModal3" role="dialog">
   <div class="modal-dialog">
    
     <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4>{{comCount}} people commented your post</h4></center>
       </div>
       <div class="modal-body">
        <center>
         <table class="table table-hover table-responsive" >
         <thead>
           <tr>
             <th>Email</th>
             <th>Comment</th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="comment in comments">
             <td>{{comment.email}}</td>
             <td>{{comment.content}}</td>
           </tr>
          
         </tbody>
       </table>
       </center>
       
     </div>
 </div>
 </div>
 </div>