
#loginpan{margin-top:5%;
          }
/*#main{background-color:white;}*/
h1.serif {
          font-family: "Times New Roman", Times, serif;
          font-weight:bold;
         }
#logform{margin-top:20px;}
/*#sign{height:100%;}*/
#frgtpan{margin-top:100px;}
#cpswd{margin-top:30px;}
#homenav p{color:crimson;
           font-weight:bold;}
#homenav a{color:white;
           font-size:16px;}
#homenav a:hover{color:crimson;
                }
.activeState{
             color:crimson;
            }

#homemain{background-color:white;
         
         }
#blog{background-color:black;
      color:white;}
/*#blgtitle{border-top:2px solid crimson;
          }*/
#blgtitle h3{font-weight: bold;}
#blgcontent{border-top:2px solid crimson;
            padding:20px;
            border-bottom:2px solid crimson;
            background-color: white;
            color:black;}
#blgbtn{padding:10px;
        
        }
#blgbtn button{
    background-color:crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*.likecolor
{
  background-color:crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.dislikecolor
{
  background-color: white;
  color: black;
  border: 2px solid crimson;  
}*/

#blgbtn button:hover{background-color: white;
  color: black;
  border: 2px solid crimson;}
#createblg{
             background-color:black;
      color:white;
    padding:40px;
}
#createblg button{
     background-color:crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#createblg button:hover{background-color: white;
  color: black;
  border: 2px solid crimson;
}
#myModal{
  color:black;
}
#textbox{box-sizing: border-box;
    border: none;
    border-bottom:2px solid black;
    background-color:transparent;
 }
 #comment button{
  background-color:crimson;
border: none;
color: white;
padding: 1px 4px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
#comment button:hover{background-color: white;
  color: black;

  border: 1px solid crimson;}
  #count a{text-decoration: none;
            color:white;
          }

